
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif,Microsoft-YaHei,STHeiti;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif,Microsoft-YaHei,STHeiti;
$georgia: Georgia, serif,Microsoft-YaHei,STHeiti;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
